*{
  margin: 0;
  padding: 0;
  font-family: "Lato", Sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  height: 100vh;
  background: url(BG.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  background-color: red;
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}
